<div class="main-header bg--blue">
    <div class="grid grid--full">
        <div class="grid__item one-whole lap--one-half portable--one-half desk--one-half">
            <a href="../index.htm"><img class="dtvLogo" src="../common_assets/img/ATT_DTV_Wht_Sol_Rev.png"></a>
        </div>
        <div class="grid__item one-whole lap--one-half portable--one-half desk--one-half">
            <h1 class="tool-title palm--center">
                <img class="tool-img" src="assets/img/hdr_lookups.png" />
            </h1>
        </div>
    </div>
</div>