<div ng-controller="MainCtrl">
    <div ng-include="'views/header.htm?@@BUSTER@@'"></div>
    <div class="wrapper">
         <div class="border">
             <div class="grid">
                 <div ng-show="tools" class="grid__item portable--one-half desk--one-half mainSelect">
                     <h2 class="lLabel">Data List</h2>
                     <select ng-model="tool" ng-options="tool as tool.Name for tool in tools | orderBy:'name'">
                         <option value="" disabled>What are you looking for?</option>
                     </select>
                 </div>
                 <div class="grid__item portable--one-half desk--one-half">
                     <div class="toolText" ng-bind-html="tool.Text"></div>
                 </div>
             </div>
             <div height="100%" width="100%" ng-if="tool.URL" ng-include="'views/' + tool.URL + '.htm'"></div>            
         </div>
    </div>
</div>